body{
    overflow-x: hidden;
}
a{
    cursor: pointer;
}
.modal-contenedor{
    display: flex;
    align-items: center;
    gap: 2rem
}
.img-carrito{
    width: 200px;
    padding: 20px;
}
.modal-content{
    background-color: #E3D8D6;
}
.parrafo{
    font-weight: 700;
    font-style: italic;
}